.about {
  gap: 4em;
  img {
    max-width: 200px;
    float: left;
    margin-right: 2em;
    margin-bottom: 1em;
    outline: 1px solid white;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  max-width: 60vw;
}
