.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 100%;
  h1,
  h2 {
    width: fit-content;
    background: linear-gradient(to left, #002fff, rgb(166, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
