.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;

  .contact-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#002fff, rgb(166, 0, 255));
    padding: 2em;
    border-radius: 4px;

    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 1.2em;
      width: fit-content;

      input {
        padding: 15px;
        border-radius: 3px;
        border: none;
      }

      button {
        background-color: rgb(171, 123, 249);
        border: 1px solid #2d033c;
        width: 12em;
      }

      button:hover {
        background-color: rgb(183, 143, 247);
        border: 1px solid #2d033c;
      }
    }

    .row {
      align-items: center;
    }
  }
}
