.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;

  .contact-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border-radius: 4px;
    border: 2px solid;
    border-image: linear-gradient(#002fff, rgb(166, 0, 255));
    border-image-slice: 1;
    box-shadow: 0 0 10px rgba(174, 1, 255, 0.5);

    .contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 1.2em;
      width: fit-content;

      input {
        padding: 15px;
        border-radius: 3px;
        border: 1px solid #002fff;
        background-color: #000000;
        color: white;
      }

      button {
        height: 3em;
        width: 10em;
        background-color: rgb(174, 87, 211);
        border-radius: 5px;
        border: none;
        outline: #7e65e1 2px solid;
        color: white;
      }

      button:hover {
        outline: #4a30b0 2px solid;
        background-color: rgb(102, 23, 137);
      }
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 6em;

      a {
        color: rgb(166, 0, 255);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
