header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  nav {
    ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      gap: 2em;

      li {
        cursor: pointer;
      }
      li:hover {
        color: blue;
      }
    }
  }
}
