header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 5em;
  margin: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.536);
  nav {
    ul {
      display: flex;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      gap: 2em;

      li {
        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
      }
      li a:hover {
        color: blue;
      }
    }
  }
}
