.item {
  border: 2px solid;
  border-image: linear-gradient(#002fff, rgb(166, 0, 255));
  border-image-slice: 1;
  box-shadow: 0 0 10px rgba(174, 1, 255, 0.5);
  width: 300px;
  padding: 1em;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h2,
  p {
    margin-bottom: 15px;
  }
}
